<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>login</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.handler.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.handler.NewStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/pages/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Attendance</servlet-name>
    <servlet-class>com.handler.Attendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attendance</servlet-name>
    <url-pattern>/pages/ADDAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentInfo</servlet-name>
    <servlet-class>com.handler.StudentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInfo</servlet-name>
    <url-pattern>/pages/StudentInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateStudentInfo</servlet-name>
    <servlet-class>com.handler.updateStudentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStudentInfo</servlet-name>
    <url-pattern>/pages/updateStudentInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFees</servlet-name>
    <servlet-class>com.handler.Fees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFees</servlet-name>
    <url-pattern>/pages/AddFees</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Fees</servlet-name>
    <servlet-class>com.handler.Fees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fees</servlet-name>
    <url-pattern>/pages/Fees.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Rank</servlet-name>
    <servlet-class>com.handler.Rank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rank</servlet-name>
    <url-pattern>/pages/Rank</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Rank1</servlet-name>
    <servlet-class>com.handler.Rank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rank1</servlet-name>
    <url-pattern>/pages/ab.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignRank</servlet-name>
    <servlet-class>com.handler.AssignRank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignRank</servlet-name>
    <url-pattern>/pages/AssignRank</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignRank1</servlet-name>
    <servlet-class>com.handler.AssignRank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignRank1</servlet-name>
    <url-pattern>/pages/a.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurposeOfFees</servlet-name>
    <servlet-class>com.handler.PurposeOfFees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurposeOfFees</servlet-name>
    <url-pattern>/pages/PurposeOfFees</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddLevel</servlet-name>
    <servlet-class>com.handler.AddLevel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLevel</servlet-name>
    <url-pattern>/pages/addlevel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getlevelClass</servlet-name>
    <servlet-class>com.handler.Attendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getlevelClass</servlet-name>
    <url-pattern>/pages/Attend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getreports</servlet-name>
    <servlet-class>com.handler.Reports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getreports</servlet-name>
    <url-pattern>/pages/rep.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>serachAttendance</servlet-name>
    <servlet-class>com.handler.Reports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serachAttendance</servlet-name>
    <url-pattern>/pages/serachAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>serachRank</servlet-name>
    <servlet-class>com.handler.Reports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serachRank</servlet-name>
    <url-pattern>/pages/serachRank</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>serachFees</servlet-name>
    <servlet-class>com.handler.Reports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serachFees</servlet-name>
    <url-pattern>/pages/serachFees</url-pattern>
  </servlet-mapping>
</web-app>